{% extends 'bootstrap/base.html' %}

{% block scripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{{url_for('.static', filename='js/game.js')}}"></script>
    <script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root |tojson |safe }};</script>
    {{super()}}
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="src=/static/css/custom.css">
{% endblock %}


{% block title %}
    {% if title %} Tune Guesser - {{ title }} {% else %} Tune Guesser{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

         {# application content needs to be provided in the app_content block #}
         {% block app_content %}{% endblock %}
    </div>
{% endblock %}
