{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="game-room-header">
        <h1 class="game-room-title">
            Room - {{ room.code }}
        </h1>
    </div>

    <div class="previous-song">
        <h3> Previous Song: </h3>
        <h3 class="previous-song-text" id="previous">?</h3>
    </div>


    {% if current_user.id == hostID and room.isActive == False%}
    <button id="start" type="button" class="game-room-start"  onclick="game('{{ room.code }}')">Start Game</button>
    {% endif %}

    <h4 id="correct"></h4>


    <div id="player_list">
        {% for player in player_list %}
            <div class="player-background">{{ player.username }}: {{ player.pointsInRoom }}</div>
        {% endfor %}
    </div>

    <img class="music-player" style="visibility: hidden;" id="hide" src="{{url_for('static', filename='img/mystery.jpg') }}" width="704" height="369">


    <div class="chat-box">
        <ul class="chat-messages" id="messages"></ul>
        <div class="chat-input">
            <input class="msg-input" type="text" id="myMessage">
            <button class="msg-send-button" id="sendButton">Send</button>
        </div>

    </div>

    <iframe id="song"
            width="0"
            height="0"
            src="{{ song_link }}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            class="music-player"
            allowfullscreen>
    </iframe>

    <br>

    <button onclick="location.href='{{ url_for('home') }}'" type="button" class="game-room-leave">Leave</button>

{% endblock %}