{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1>Room - {{ room.name }}</h1>
    <h2>Code - {{ room.code }}</h2>

    <h3 id="result" align="right">Previous Song: ?</h3>

    {% if current_user.id == hostID %}
    <button id="start" type="button" class="btn btn-success"  onclick="game('{{ room.code }}')">
        Start
    </button>
    {% endif %}

    <h3>Players: </h3>
        {% for player in player_list %}
            <p>{{ player.username }}</p>
        {% endfor %}


    <div class="chat">
        <input type="text" >
        <button>Send</button>
    </div>

    <iframe id="song"
            width="0"
            height="0"
            src="{{ song_link }}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>

    <br>

    <button type="button" class="btn btn-danger">
        <a style="color: white; text-decoration: none" href="{{ url_for("home") }}">
            Leave
        </a>
    </button>

{% endblock %}