{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="create-room-title">Tune Guesser</h1>

    <img
            class="user-display-img"
            src="{{url_for('.static', filename='img/default.jpg')}}"
            width="75"
            height="75"
    >
    <p class="user-display">{{ current_user.username }}</p>

    <div class="create-room-form">
        <div class="row">
            <div class="col-md-8">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>


    <button onclick="location.href='{{ url_for('create_room') }}'" class="create-room-button" type="button">
        Create Room
    </button>

    <h3 class="explanation">Select a room below to join, or create your own room</h3>

    <div class="room-lists">
        {% for game in game_list %}
            <a class="room-link" href="{{ url_for('room_game', code=game.code) }}">
                <div class="game-room">
                    <p class="game-code">{{ game.code }}</p>
                    <p class="game-category">{{ game.category }}</p>
                    <p class="game-player-count">{{ game.playerCount }}/8 Players</p>
                </div>
            </a>
        {% endfor %}
    </div>
    <br>
    <button onclick="location.href='{{ url_for('leaderboard') }}'" class="leaderboard-button game-buttons">Leaderboard</button>
    <button onclick="location.href='{{ url_for('logout') }}'" class="logout-button game-buttons">Logout</button>
{% endblock %}