{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="title">Tune Guesser</h1>

    <h2 class="sub-title">The Online Music Guessing Game</h2>

    <button class="front-button login-button" onclick="location.href='{{ url_for('login') }}'">Login</button>
    <button class="front-button signup-button" onclick="location.href='{{ url_for('register') }}'">Sign Up</button><br>
    <button class="front-button guest-button" onclick="location.href='{{ url_for('guest') }}'">Guest</button>

{% endblock %}