{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="text-center">Tune Guesser</h1>
    <p class="text-center">The Online Music Guessing Game</p>

    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">
            <img class="text-center" src="/static/img/login.jpg" width="275">
        </a>
        <a href="{{ url_for('register') }}">
            <img class="text-center" src="/static/img/register.jpg" width="275">
        </a>
        <a href="{{ url_for("guest") }}">
            <img class="text-center" src="/static/img/guest.jpg" width="275">
        </a>

        {% else %}

    {% endif %}


{% endblock %}