{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <img style="margin-top: 3rem; margin-bottom: 3rem" class="center-block"  src="/static/img/header.png" width="1200">

    <div style="margin-left: 20%;">
        <div class="row">
            <div class = "col-5">
                <a href="{{ url_for('login') }}">
                    <img src="/static/img/login.jpg" width="275">
                </a>
            </div>
            <div class = "col-5">
                <a href="{{ url_for('register') }}">
                    <img src="/static/img/register.jpg" width="275">
                </a>
            </div>
        </div>
    </div>

    <a href="{{ url_for("guest") }}" >
        <img style="margin-top: 3rem; margin-left: 38%;" class="center-block" src="/static/img/guest.jpg" width="275">
    </a>


{% endblock %}