{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 style="color: #A593E0; margin-top: 2rem; font-size: 80px; -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px" class="text-center">
        Leaderboard
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url_for(next_left) }}">
                    <img src="/static/img/leftArrow.png" width="100" align="right">
                </a>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Top Correct Guesses</h2>
                <h2 class="text-center" style="font-size: 24px;"> {{ category }}</h2>
            </div>
            <div class="col-md-4">
               <a href="{{ url_for(next_right) }}">
                   <img src="/static/img/rightArrow.png" width="100" align="left">
               </a>
            </div>
        </div>
    </div>

    {% for player in top_correct_guesses %}
        <p class="text-center">{{ player }}</p><br>
    {% endfor %}

    <button type="button" class="btn btn-danger">
        <a style="color: white; text-decoration: none" href="{{ url_for("home") }}">
            Home
        </a>
    </button>
{% endblock %}