{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="text-center leaderboard-title">
        Leaderboard
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url_for(next_left) }}">
                    <img class="leaderboard-arrow" src="/static/img/leftArrow.png" width="100" align="right">
                </a>
            </div>
            <div class="col-md-4">
                <h2 class="text-center leaderboard-category">Top Correct Guesses</h2>
                <h2 class="text-center leaderboard-sub-category"> {{ category }}</h2>
            </div>
            <div class="col-md-4">
               <a href="{{ url_for(next_right) }}">
                   <img class="leaderboard-arrow" src="/static/img/rightArrow.png" width="100" align="left">
               </a>
            </div>
        </div>
    </div>

    <div>
        {% for player in top_correct_guesses %}
            <p class="text-center leaderboard-result">{{ player }}</p>
        {% endfor %}
    </div>

    <button onclick="location.href='{{ url_for('home') }}'" type="button" class="leaderboard-back-button">Back</button>
{% endblock %}